*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #000;
  background-color: #fff;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
img{
  vertical-align: top;
}
/* //common */





#wrap{
  width: 100%;
  height: 100vh;
}
#wrap .header{
  width: 100%;
  height: 100px;
}
#wrap .header .header_inner{
  width: 100%;
  height: 100%;
  background-color: #8076b8;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap .header_inner h1{
  font-size: 30px;
  margin-bottom: 0rem;
}
/* //header */





#wrap .searchBox{
  width: 100%;
  height: 100px;
}
#wrap .searchBox .searchBox_inner{
  width: 100%;
  height: 100%;
  background-color: #6a5d7a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBox_inner .form-floating.mb-3{
  margin-bottom: 0rem !important;
  margin-right: 20px;
}
.searchBox_inner .btn{
  padding: 1rem;
}
/* //searchBox */





#wrap .main{
  width: 100%;
  min-height: calc(100vh - 200px);
}
#wrap .main .main_inner{
  width: 100%;
  height: 100%;
  background-color: #1c1a29;
  padding-bottom: 1.5rem;
}
.main_inner .row{
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
.main_inner .row .col .card .movieImg{
  cursor: pointer;
}
/* //main */